     . ,
      *    ,
 ` *~.|,~* '
 '  ,~*~~* `     _
  ,* / \`* '    //
   ,* ; \,O.   //
       ,(:::)=//
{% for flavor in Flavors %}
      ({{flavor.Lemon}}{{flavor.Vanilla}}{{flavor.White}}{{flavor.Dark}} )
{% endfor %}
      (  `~(###)
       %---'`"y
        \    /
         \  /
        __)(__  {% if CustomerName %}{{CustomerName}}{% endif +%}
       '------`