       ()
      (__)
     (____)
    (______)
{% for flavor in Flavors %}
   ({{flavor.Lemon}}{{flavor.Vanilla}}{{flavor.White}}{{flavor.Dark}} )
{% endfor %}
  (__________)
   \/\/\/\/\/
    \/\/\/\/
     \/\/\/
      \/\/
       \/  {% if CustomerName %}{{CustomerName}}{% endif %}
